<h1>Lern Mth</h1>
<p>is fun.</p>

<% if current_user %>
	<%= link_to 'New Game', new_game_path %>
	<%= link_to 'Logout', logout_path, method: 'delete' %>
<% else %>
	<%= link_to 'Login', login_path %>
	<%= link_to 'Signup', signup_path %>
<% end %>
